<h1>Your credentials for DGC Verification API</h1>

<p>
    Client ID: <code>{{ client.identifier }}</code> <br>
    Client Secret: <code>{{ client.secret }}</code> <br>
    Grant Types:
<ul>
    {% for  grandType in client.grants %}
        <li>
            {{ grandType }}
        </li>
    {% endfor %}

</ul>
    Scopes:
<ul>
    {% for  scope in client.scopes %}
        <li>
            {{ scope }}
        </li>
    {% endfor %}
</ul>
