{% extends 'base.html.twig' %}

{% block body %}
    <div class="request">
        <h2 class="request__title">Request API credentials</h2>
        <p class="request__copy">Credentials will be sent you per e-mail</p>
        <form method="POST" action="{{ url('post_api_credentials') }}">
            <div class="form">
                <input required="required" type="email" name="email" class="form__email" placeholder="Enter your email address" />
                <input class="form__button" type="submit" value="Request">
            </div>
        </form>
    </div>
{% endblock %}